body {
  color: white;
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif
}

h1 {
  margin-top: var(--navbar-height);
}

.container_video {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
  cursor: pointer;
}

.footer {
  
  align-self: flex-end;
  min-width: 100vw;
  min-height: 6rem;
  text-align: center;
  background-color: var(--base-color);
  color: var(--netvision-color);
  font-size: 1.3rem;
  
}

.i-color {
  color: var(--netvision-color);
}